.Botao {
  border: 1px solid var(--preto);
  padding: .25rem .75rem;
  color: var(--cinza);
}

.Botao[tipo="primario"] {
  background: var(--verde);
}

.Botao[tipo="secundario"] {
  background: var(--rosa);
}